body {
    background:fixed center;
    background-size:cover;
    font-family:"Open Sans",sans-serif
}

a {
    text-decoration:none
}

.header {
    color:#fff;
    font-size:21px;
    padding:30px;
    text-align:center;
    text-shadow:0 0 20px #000
}

.header h1 {
    padding-bottom:19px
}

.header_desc {
    color:#fff;
    font-size:17px;
    padding-bottom:30px;
    text-shadow:0 0 15px #000
}

.header_btn {
    background-color:#00064B;
    border-radius:7px 7px;
    color:#fff;
    font-size:15px;
    padding:7px 15px;
    text-align:center;
    transition:.4s
}

.header_btn:hover {
    background-color:#03033B99;
    border-radius:7px 7px;
    color:#fff;
    cursor:pointer;
    text-shadow:0 0 5px #FAFAFA
}

.header_btn:active {
    background-color:#020d2f99;
    cursor:pointer;
    text-shadow:0 0 6px #FAFAFA
}

@media screen and (max-width:1024px) {
    .header_btn {
        display:inline-block;
        margin:6px
    }
}