<!DOCTYPE html> <!--suppress ALL-->
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Datadog | Skiffy na Discorda</title>
    <link rel="icon" href="/images/menu_icon-min.png">

    <style>
        html{overflow:auto}
        html,body,iframe{margin:0;padding:0;height:100%;border:none}
        iframe{display:block;width:100%;border:none;overflow-y:auto;overflow-x:hidden}
    </style>
</head>
<body>
    <iframe src="https://p.datadoghq.eu/sb/4oq87a1ven2jwa4a-7ac3302923e782d617afbbc561d2f88d?theme=dark&from_ts=1650168840935&to_ts=1650172440935"></iframe>

    <meta property="og:image" content="https://skiffybot.xyz/images/server_icon-min.png">
    <meta name="theme-color" content="#F745A5">
</body>
</html>