<!DOCTYPE html> <!--suppress ALL-->
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Datadog | Skiffy na Discorda</title>
    <meta name="description" content="Sprawdź użycie procesora, pamięci RAM naszego serwera i wiele więcej! Ta strona zawiera również informacje związane z czasem pracy serwera.">
    <meta name="keywords" content="statystyki, noel, cpu, ram, mongo, mongodb, ruch, sieciowy, uptime, czas, aktywnosci, praca, serwera">

    <style>html{overflow:auto}html,body,iframe{border:none;height:100%;margin:0;padding:0}iframe{border:none;display:block;overflow-x:hidden;overflow-y:auto;width:100%}</style>
</head>
<body>
    <iframe src="https://p.datadoghq.eu/sb/4oq87a1ven2jwa4a-7ac3302923e782d617afbbc561d2f88d?theme=dark&from_ts=1650168840935&to_ts=1650172440935"></iframe>

    <meta property="og:image" content="https://skiffybot.xyz/images/server_icon-min.png">
    <meta name="theme-color" content="#F745A5">
</body>
</html>