<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Serwer wsparcia | Skiffy na Discorda</title>
    <meta name="description" content="Serwer wsparcia naszego bota Skiffy. Masz jakieś pytanie? Nie krępuj się nam go zadać! A może potrzebujesz pomocy z naszym botem? Serdecznie zapraszamy!">
    <meta name="keywords" content="serwer, wsparcia, support, server, skiffybot">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script>setTimeout("window.location = 'https://discord.gg/YZmjrTgpDP'",2000);</script>
</head>
<body>
    <div id="menu">
        <a href="/" id="menu_text" title="Strona główna">Skiffy™</a>
        <a href="/server" id="menu_btn" title="Randkownia & Laby">Serwer wsparcia</a>
    </div>

    <div class="content">
        <h1>Randkownia & Laby</h1>

        <div class="desc">
            <p>Za chwilę nastąpi przekierowanie na stronę <a href="https://discord.gg" target="_blank">discord.gg</a>. Prosimy czekać cierpliwie...</p>

            <img src="images/loading.gif" style="height:92px;padding-top:24px" alt="Loading">
        </div>
    </div>

    <% if (process.env.NODE_ENV === 'production') { %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5940133903366556" crossorigin="anonymous"></script>
        <%- include('includes/ads.html') %>
        <%- include('includes/tawk.html') %>
    <% } %>

    <meta property="og:image" content="https://skiffybot.xyz/images/server_icon-min.png">
    <meta name="theme-color" content="#F745A5">
</body>
</html>