body {background:url('/images/bg-min.jpg') fixed center;background-size:cover;font-family:"Open Sans",sans-serif}

a {text-decoration:none;transition:.2s}

.content {
    color:#fff;
    font-size:21px;
    padding-top:22px;
    padding-bottom:20px;
    text-align:center;
    text-shadow:0 0 7px #000
}

.content h1 {padding-bottom:7px}

.desc {
    font-size:17px;
    text-shadow:0 0 7px #000
}

.btns {padding-top:23px}

.btn {
    background-color:#033677;
    border-radius:14px 14px;
    color:#fff;
    font-size:15px;
    padding:4px 15px;
    text-shadow:0 0 4px #034d98;
    transition:.2s
}

.btn:hover {
    background-color:#02255b99;
    color:#fff
}

.btn:active {background-color:#012056}

@media screen and (max-width:1024px) {
    .btn {display:inline-block;margin:6px}
}