#menu {
    background-color:#020d2b99;
    color:#fff;
    margin-bottom:16px;
    padding:7px 20px
}

.menu_text {
    color:#fff;
    font-size:28px;
    text-shadow:0 0 3px #000;
    transition:.3s
}

.menu_btn {
    background-color:#5865f2;
    border-radius:17px 17px;
    color:#fff;
    float:right;
    font-size:16px;
    padding:9px 20px;
    text-shadow:0 0 1px #000;
    transition:.2s
}

.menu_btn:hover {
    background-color:#4752c4;
    color:#fff;
    text-shadow:0 0 2px #000
}

.menu_btn:active {
    background-color:#3c45a5;
    text-shadow:0 0 3px #201f1f
}