<%- include('../partials/errors/header.ejs', { title: 'File not found | Skiffy' }) %>

    <h1>Error 404: File not found</h1>
    <p>Przepraszamy, ale żądany adres URL nie został znaleziony na serwerze.</p>
    <code><b>Cannot GET</b> <%= url %></code><br>

    <%- include('../partials/errors/footer.ejs') %>