<%- include('../partials/errors/header.ejs', { title: 'Internal Server Error | Skiffy' }) %>

    <h1>Error 500: Internal Server Error</h1>
    <p>Skontaktuj się z administratorem bota, aby uzyskać więcej informacji.</p>
    <code><b>Cannot GET</b> <%= url %></code><br>

    <%- include('../partials/errors/footer.ejs') %>