<div><img src="https://http.cat/<%- code %>" alt=""></div>
    <a href="/" type="button" title="Strona główna | Skiffy na Discorda">Strona główna</a><a href="/server" type="button" title="Zaproszenie na serwer Discord: Randkownia & Wsparcie Skiffy">Serwer Discord</a>

    <p>
        <code><b>Identyfikator zdarzenia:</b> <%= id %></code>
    </p>

<% switch (code) {

case 500: { %>
    <!--
        -> Muzyka w tle:
        Tytuł: Depths of Love
        Wykonawca: Valentin Wiest
        Link: https://www.youtube.com/watch?v=0asz5ICm_-U
    -->
    <iframe src="https://www.youtube.com/embed/0asz5ICm_-U?autoplay=1&cc_load_policy=1&controls=0&loop=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% } break;

} %>
</body>
</html>