<!DOCTYPE html> <!-- Copyright 2021 © by Sefinek. All Rights Reserved. -->
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Serwer wsparcia naszego bota Skiffy | Najlepszy bot na Discord</title>
  <meta name="description" content="Serwer wsparcia naszego bota Skiffy. Masz jakieś pytanie? Nie krępuj się nam go zadać! A może potrzebujesz pomocy z naszym botem? Serdecznie zapraszamy!">
  <meta name="keywords" content="serwer, wsparcia, support, server, skiffybot">
  <meta http-equiv="X-UA-Compatible" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/menu_icon-min.png">

  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/menu.css" type="text/css">

  <script>setTimeout("location.replace('https://discord.gg/YZmjrTgpDP')", 3000);</script>
</head>

<body>

  <div id="menu">
    <a href="/" title="Strona główna" class="menu_text">Skiffy™</a>
    <a href="server" title="Wsparcie bota Skiffy™" class="menu_btn">Serwer wsparcia</a>
  </div>

  <div class="content">
   <h1>Wsparcie bota Skiffy™</h1>

    <div class="desc">
      Za chwilę nastąpi przekierowanie na stronę <a href="https://discord.gg">discord.gg</a>. Prosimy czekać cierpliwie...<br>

      <img src="images/loading.gif" style="height:92px;padding-top:24px" alt="Loading">
    </div>
  </div>

  <meta property="og:image" content="https://skiffybot.xyz/images/server_icon-min.png">
  <meta name="theme-color" content="#F745A5">

</body>
</html>